main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-4 {
  flex: 4;
}
.row {
  display: flex;
}
.border-white {
  border-color: #fff;
}
